@import '../../styles/variables';

.highlights {
	margin-top: 63px;

	&-top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 19px;

		@include respond-to(medium) {
			flex-direction: column;
			text-align: center;
		}
	}

	&__title {
		font-size: 28px;
		white-space: normal;

		@include respond-to(medium) {
			margin-bottom: 15px;
		}
	}

	&-actions {
		display: flex;

		button:not(:last-child) {
			margin-right: 8px;
		}
	}

	&-person {
		display: flex;
		align-items: center;
		margin-bottom: 18px;

		.default-h3 {
			margin-bottom: 4px;
		}

		&__photo {
			width: 32px;
			height: 32px;
			border-radius: 50%;
			overflow: hidden;
			margin-right: 16px;
		}
	}
}
