@import '../../styles/variables';

.region {
	margin-top: 40px;

	&-padding {
		padding-left: 46px;
	}

	&-point {
		width: 100%;
		position: relative;
		z-index: 1;
		padding-bottom: 44px;

		&:first-child {
			padding-bottom: 36px;

			.region-point__icon span {
				background-color: $highlight-color;
			}
		}

		&:not(:last-child) {
			&::before {
				content: '';
				display: block;
				width: 2px;
				height: calc(100% + 10px);
				background-color: rgba($primary-color, 0.18);
				position: absolute;
				left: 12px;
				top: 12px;
				z-index: -1;
			}
		}

		&__icon {
			margin-right: 18px;
			margin-bottom: 4px;

			span {
				font-size: 12px;
				font-weight: $medium;
				color: $white;
				background-color: #9d9da1;
				border: 2px solid $white;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 26px;
				height: 26px;
				border-radius: 50%;
			}
		}

		&__title {
			display: flex;
			align-items: center;
			letter-spacing: 0.38px;
			margin-bottom: 24px;
		}

		&__subtitle {
			display: flex;

			.default-h4 {
				color: rgba($primary-color, 0.5);
			}

			h4:not(:last-child) {
				margin-right: 16px;
			}
		}

		&__text {
			margin-top: 16px;
			color: rgba($primary-color, 0.8);
			letter-spacing: -0.32px;
		}
	}

	&-modal {
		margin-left: auto;
	}
}
