// Color Variables
$black: #000000;
$white: #ffffff;
$primary-color: #3c3c43;
$highlight-color: #714eff;
$borders-color: #979797;
$score-icon-bg: #fddb32;

// Typography Variables
$font-primary: 'SF Pro Display', sans-serif;
$base-font-size: 1rem;
$base-line-height: 1.5;
$font-weight-medium: 600;

// Border Variables
$border-radius: 16px;
$border: 0.5px solid rgba($borders-color, 0.3);
$box-shadow: 0 2px 3px rgba($black, 0.03);

// Z-index
$zIndex-dropdown: 1000;
$zIndex-modal: 1050;

// Breakpoints
$breakpoint-small: 480px;
$breakpoint-medium: 768px;
$breakpoint-large: 1024px;

// Mixin for media queries
@mixin respond-to($breakpoint) {
	@if $breakpoint == small {
		@media (max-width: $breakpoint-small) {
			@content;
		}
	} @else if $breakpoint == medium {
		@media (max-width: $breakpoint-medium) {
			@content;
		}
	}
}
