@import './variables';

html {
	scroll-behavior: smooth;
}

body {
	font-family: $font-family;
	line-height: $base-line-height;
	color: $black;

	background-color: #f5f5f5;
}

.wrapper {
	width: min(100%, 761px); // instead of max-width
	margin-inline: auto; // instead of margin: 0 auto;
	padding: 20px 32px 48px;
	background-color: $white;
}

.default-h3 {
	font-size: 16px;
	font-weight: 600;
	letter-spacing: -0.3px;
}

.default-h4 {
	font-size: 15px;
	letter-spacing: -0.2px;
	color: rgba($primary-color, 0.8);
}

.header button,
.highlights-actions button,
.dropdown-item,
.btn-main,
.slider-arrow {
	&:hover {
		background-color: rgba($borders-color, 0.8);
	}
}

.btn-main {
	border: $border;
	border-radius: 8px;
	padding: 8px 12px 8px 14px;
	display: flex;
	align-items: center;

	font-size: 15px;
	letter-spacing: -0.1px;
	font-weight: $semibold;

	svg {
		margin-right: 10px;
	}
}

.text {
	letter-spacing: -0.41px;
}

.title {
	font-family: $second-family;
	font-weight: $semibold;
}

input {
	width: 100%;
}

img,
picture {
	object-fit: cover;
}
