@import './variables';

html {
	scroll-behavior: smooth;
}

body {
	font-family: $font-family;
	line-height: $base-line-height;
	color: $black;
	background-color: #f5f5f5;
}

.wrapper {
	width: min(100%, 761px); // instead of max-width
	margin-inline: auto; // instead of margin: 0 auto;
	padding: 20px 32px 0;
	background-color: $white;

	@include respond-to(medium) {
		padding-left: 15px;
		padding-right: 15px;
	}
}

.default-h3 {
	font-size: 16px;
	font-weight: 600;
	letter-spacing: -0.3px;
}

.default-h4 {
	font-size: 15px;
	letter-spacing: -0.2px;
	color: rgba($primary-color, 0.8);
}

.header button,
.highlights-actions button,
.dropdown-item,
.btn-main,
.slider-arrow {
	&:hover {
		background-color: rgba($borders-color, 0.8);
	}
}

.btn-main {
	// border: $border;
	border-radius: 8px;
	padding: 7px 12px 7px 14px;
	display: flex;
	align-items: center;
	white-space: nowrap;
	font-size: 15px;
	letter-spacing: -0.1px;
	font-weight: $semibold;
	box-shadow: $box-shadow;
	border: 0.5px solid #e0e0e0;
	// box-shadow: $box-shadow, 0 0 0 0.5px rgba(#979797, 0.3);

	@include respond-to(medium) {
		font-size: 0;
		padding: 0;
		width: 40px;
		height: 40px;
		justify-content: center;
	}

	svg {
		margin-right: 10px;
		flex-shrink: 0;

		@include respond-to(medium) {
			margin-right: 0;
		}
	}
}

.text {
	letter-spacing: -0.41px;
	line-height: 24px;
}

.title {
	font-family: $second-family;
	font-weight: $semibold;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

input {
	width: 100%;
}

img,
picture {
	object-fit: cover;
}
