@import '../../styles/variables';

.modal {
	position: relative;
	z-index: 1;
	padding-bottom: 16px;

	&::before {
		content: '';
		display: block;
		width: 2px;
		height: calc(100% + 10px);
		background-color: rgba($primary-color, 0.18);
		position: absolute;
		left: 15px;
		top: 12px;
		z-index: -1;
	}

	&-period {
		margin-bottom: 30px;
	}

	.carousel-item {
		display: flex;
		align-items: center;
		width: 100%;
		margin-right: 0;
		margin-bottom: 24px;
		position: relative;

		@include respond-to(medium) {
			flex-direction: column;
			align-items: flex-start;
		}

		&::before {
			content: '';
			display: block;
			background-color: rgba(#9d9da1, 1);
			width: 4px;
			height: 4px;
			border-radius: 50%;
			border: 2px solid $white;
			position: absolute;
			top: 50%;
			left: -37px;
			transform: translateY(-50%);
			box-sizing: content-box;
		}

		.day-plan__more {
			@include respond-to(medium) {
				// margin: 0 auto 20px;
				// margin-left: 0;
				padding-left: 0;
			}
		}
	}

	.carousel-img {
		width: 96px;
		height: 132px;
		border-radius: 12px;
		margin-right: 24px;

		@include respond-to(medium) {
			margin-right: 0;
			margin-bottom: 20px;
		}
	}

	&-curators {
		font-size: 13px;
		letter-spacing: -0.08px;
		color: rgba($primary-color, 0.8);
		font-weight: $medium;
		margin: 1px 0 10px;
		padding: 8px 12px;
		border-radius: 24px;
		background-color: #f2f2f7;
		display: inline-block;

		@include respond-to(medium) {
			margin-left: 0;
		}
	}

	&-drag {
		display: flex;
		margin-left: auto;
		cursor: pointer;
		padding: 9px;

		@include respond-to(medium) {
			margin-left: 0;
			margin-top: 15px;
		}
	}

	.region-modal {
		padding-left: 10px;

		@include respond-to(medium) {
			padding-left: 0;
		}
	}

	.itinerary-titles {
		padding: 0;
	}
}

.day-plan {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 17px;
	margin-bottom: 14px;

	&__time {
		font-size: 13px;
		letter-spacing: -0.08px;
		color: rgba($primary-color, 0.8);
		font-weight: $medium;
		display: flex;
		align-items: center;

		&-bg {
			padding: 6px 10px;
			border-radius: 24px;
			background-color: #f2f2f7;
			display: flex;
			align-items: center;

			svg {
				margin-right: 8px;
			}
		}
	}

	&__more {
		cursor: pointer;
		display: flex;
		padding: 9px;
		margin-left: 9px;
	}
}
