@import '../../styles/variables';

.header {
	font-size: 15px;
	font-weight: $semibold;
	letter-spacing: -0.1px;
}

.navigation {
	&-menu {
		display: flex;
	}

	&-list {
		border-radius: 16px;
		box-shadow: $box-shadow;

		> * {
			&:first-child {
				padding-left: 16px;
				border-top-left-radius: 16px;
				border-bottom-left-radius: 16px;
			}

			&:last-child {
				border-top-right-radius: 16px;
				border-bottom-right-radius: 16px;
			}
		}

		&__item {
			padding: 7px 20px;
			border: $border;

			&:hover {
				background-color: rgba($borders-color, 0.8);
			}

			&--dropdown {
				padding-right: 15px;
				border-top-right-radius: 16px;
				border-bottom-right-radius: 16px;

				&.isOpened {
					border-bottom-right-radius: 0;
					border-bottom: 0;
				}
			}

			&--middle {
				padding-left: 20px;
				padding-right: 20px;
				position: relative;
				border-right: 0;
				border-left: 0;

				&::after,
				&::before {
					content: '';
					display: block;
					width: 0.5px;
					height: 100%;
					// background-color: #e5e5ea;
					position: absolute;
					top: 0;
					overflow: hidden;
				}

				&::before {
					left: -1px;
				}

				&::after {
					right: -1px;
				}
			}
		}
	}

	&-create {
		margin-left: auto;
		padding: 6px 12px;
		border-radius: $border-radius;
		border: $border;
		box-shadow: $box-shadow;
		display: flex;
		align-items: center;

		svg {
			margin-right: 8px;
		}
	}
}
